.chart-container {
  position: relative;
  display: inline-block;
}

.chart-labels {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  /* Adjust the margin as needed */
}

.label {
  margin: 0 10px;
  /* Adjust the spacing between labels */
}

#chartContainer {
  text-align: center;
}

#myChartCanvas {
  border: 1px solid black;
}

.Shaoes {
  display: flex;
}

@media (max-width:700px) {
  .Shaoes {
    display: block !important;
  }
}