<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport>
    <mat-toolbar>
      <button style=" border-radius: 50%;position: relative;
      width: 30px;
    right: 80%;" (click)="drawer.toggle()">X</button>
      <span> Menu</span> </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="home">الرئيسية</a>
      <a mat-list-item href="students">الطلبة</a>
      <a mat-list-item href="degrees">درجات الطلبة</a>
      <a mat-list-item href="exams">الامتحانات</a>
      <a mat-list-item href="rescheduleExams">طلب اعادة الامتحان </a>
      <a mat-list-item href="lectures">المحاضرات</a>
      <a mat-list-item href="levels">المراحل</a>
      <a mat-list-item href="reopenLecture">طلبات فتح المحاضرات</a>
      <a mat-list-item href="reviews">المراجعات</a>
      <a mat-list-item href="subscriptions">الاشتراكات</a>
      <a mat-list-item href="setting">الاعدادات</a>
      <a mat-list-item href="test">الاعدادات</a>
      <a mat-list-item href="#">
        <button routerLink="">الخروج</button>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>القائمة</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
